
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/logo" />

	<title>{{title}}</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="/template/static/css/style.css">
    <link rel="stylesheet" href="/template/static/css/css_slider.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    {% for src in css_sources %}
        <link rel="stylesheet" href="{{src}}">
    {% endfor %}

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        .w3-text-teal{ color: #3369e7!important;}
        .w3-card { box-shadow: 0px 0px 0px rgba(0,0,0,0); }

        .subnav:hover { background: rgba(0,0,0,0.10); }
        .subnav { background: rgba(0,0,0,0.16);  height: 40px;}

        .subnav.active {
            background: #fff; color: #ff4f81!important;
            border-bottom: 1px #fff solid;
            border-left: 1px #ff4f81 solid;
            border-top: 1px #ff4f81 solid;
            border-right: 1px #ff4f81 solid;
        }

        .subnav-container { border-bottom: 1px #fff solid; height: 40px; }

        ul { margin-bottom: 1rem; padding-left: inherit; margin-left: inherit;}
        ul ul { margin-bottom: 1rem; padding-left: inherit; margin-left: inherit; }
        li { list-style-type: unset; }

        .w3-green h1 { color: #fff; }
        .w3-green h2 { color: #fff; }
        .w3-green h3 { color: #fff; }
        .w3-green h4 { color: #fff; }
        .w3-green h5 { color: #fff; }
        .w3-green h6 { color: #fff; }
        .w3-blue { background: rgba(33, 150, 243, 0.1)!important; }

        .labels{
            font-weight: bold;
        }
        .col{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/src/templates_js/style_definition.js"></script>

</head>

<body>

    <div id="page" class="page">

        <header class="py-sm-3 pt-3 pb-2" id="home">
            <div class="container">
                <!-- nav -->
                <div class="top d-md-flex">
                    <div id="logo">
                        <h1 style="margin: 0">
                            <a href="/" class="editContent" style="outline: none; cursor: inherit; margin-right: 12px"><i class="fas fa-headset" style="outline: none; cursor: inherit;"></i>
                            PSMSystem</a> &gt;
                            <span style="font-variant: small-caps; font-size: .6em; display: initial; margin: 0; letter-spacing: 1px; font-weight: 600; padding: 3px 0; border: none; padding-top:12px; display: inline-block; vertical-align: top; padding-left: 12px;">
                            {{page_title}}
                            </span>
                        </h1>
                    </div>
                    <div class="search-form mx-md-auto">
                        <div class="n-right-w3ls editContent" style="outline: none; cursor: inherit;"></div>
                    </div>
                    <div class="forms mt-md-0 mt-2">

                        {% if nav['connectionLevel'] >= 1 %}
                            <a href="/disconnect" class="btn" style="outline: none; cursor: inherit;"><i class="fas fa-sign-out-alt" style="outline: none; cursor: inherit;"></i> Sign out</a>
                            <a href="/account" class="btn"><span class="far fa-id-card" style="outline: none; cursor: inherit;"></span> My account</a>
                        {%else%}
                            <a href="/connect" class="btn" style="outline: none; cursor: inherit;"><i class="far fa-user-circle" style="outline: none; cursor: inherit;"></i> Sign In</a>
                            <a href="https://login.cern.ch/" class="btn"><span class="far fa-edit" style="outline: none; cursor: inherit;"></span> Create Account</a>
                        {%endif%}

                    </div>
                </div>
                <nav class="text-center">
                    <label for="drop" class="toggle"><span class="fa fa-bars" style="outline: none; cursor: inherit;"></span></label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        {% for link in nav['links'] %}
                            <li class="mr-2"><a href="{{link['link']}}" style="outline: none; cursor: inherit;"><i class="{{link['icon']}} fa-fw w3-margin-right"></i>{{link['name']}}</a></li>
                        {% endfor %}
                        {% if nav['connectionLevel'] >= 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-shield fa-fw w3-margin-right"></i> Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/admin/support" class="dropdown-item"><i class="fas fa-headset fa-fw w3-margin-right"></i>Support</a>
                                <a href="/admin/testing/report" class="dropdown-item"><i class="fas fa-tasks fa-fw w3-margin-right"></i>Tests</a>
                                <a href="/admin/order" class="dropdown-item"><i class="fa fa-shopping-cart fa-fw w3-margin-right"></i>Orders</a>
                                <a href="/admin/log" class="dropdown-item"><i class="fas fa-chart-line fa-fw w3-margin-right"></i>Statistics</a>
                                <a href="/admin/settings/users" class="dropdown-item"><i class="fas fa-sliders-h fa-fw w3-margin-right"></i>Settings</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
<!-- //header -->

{{content|safe}}

<!-- copyright -->
<section class="copy-right py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<p class="">© 2019 CERN | Design by
					<a href="http://w3layouts.com"> W3layouts.</a>
				</p>
			</div>
			<div class="col-md-4 mt-md-0 mt-4 editContent" style="outline: none; cursor: inherit;">
				<p>Developped by <a href='mailto:julian.mendez@cern.ch'>Julian Mendez</a> (CERN)</p>
			</div>
		</div>
	</div>
</section>
<!-- copyright -->

{% for src in js_sources %}
    <script src="{{src}}"></script>
{% endfor %}

<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon --></div>

<script>
    $('.menu li').each(function(){
        var curr_path = window.location.pathname;
        var curr_node = $(this);

        $(this).find('a').each(function(){
            if (curr_path.indexOf($(this).attr('href')) == 0){
                curr_node.addClass('active');
            }
        });
    });
</script>
</body></html>